@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
}

*::-webkit-scrollbar {
  width: 0px;
}
* {
  scrollbar-width: 0px;
}